apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      chart: traefik
      version: '37.0.0'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: true
    crds: CreateReplace
  targetNamespace: traefik 
  values:
    resources:
      requests:
        cpu: 50m
        memory: 25Mi
      limits:
        cpu: 100m
        memory: 100Mi
    providers:
      kubernetesGateway:
        enabled: true
      kubernetesIngress:
        enabled: false
    gateway:
      enabled: true
      listeners:
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure-vanity:
          port: 8443
          protocol: HTTPS
          hostname: "*.coryb.xyz"
          namespacePolicy:
            from: All
          certificateRefs:
            - name: vanitydomain-tls
              kind: Secret
              namespace: prod-vanitydomain
        websecure-sklonger:
          port: 8443
          protocol: HTTPS
          hostname: "sklonger.app"
          namespacePolicy:
            from: All
          certificateRefs:
            - name: sklonger-tls
              kind: Secret
              namespace: prod-sklonger
    ports:
      web:
        port: 8000
        exposedPort: 80
        protocol: TCP
      websecure:
        port: 8443
        exposedPort: 443
        protocol: TCP
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
