apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: config-reload-demo
  namespace: ${release_env}-config-reload-demo
spec:
  interval: 5m
  chart:
    spec:
      chart: config-reload-demo
      version: ">=0.1.0-0"
      sourceRef:
        kind: HelmRepository
        name: ghcr-coryb-charts
        namespace: flux-system
  values:
    fullnameOverride: config-reload-demo
    replicaCount: 1
    config:
      appName: "config-reload-demo"
      environment: "${release_env}"
      logLevel: info
      featureFlags: "dark-mode,turbo-mode"
    secrets:
      create: true
  valuesFrom:
    - kind: Secret
      name: config-reload-demo-secrets
      valuesKey: databaseUrl
      targetPath: secrets.databaseUrl
    - kind: Secret
      name: config-reload-demo-secrets
      valuesKey: apiKey
      targetPath: secrets.apiKey
